.content {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#banner {
  height: 4em;
}

#background {
  background-color: var(--color-header);
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: center;
}

#image {
  width: 100%;
}

h1 {
  margin-top: 0.7em;
  color: var(--color-text);
  font-size: 25px;
  font-weight: 500;
}

table {
  text-align: center;
  background-color: #EF9AC8;
}

#card-cont {
  display: flex;
  align-items: center;
  flex-direction: row;
}